.cont {
    margin-top: 20px;
}
h1, h2, h3 {
    text-align: center;
}
.card {
    height: 300px;
}
.row {
    height: 100%;
}
.cont_img_model{
    width: 50%;
    display: flex;
}
#img_model_1{
    width: 450px;
    margin: auto;
}
#img_model_2{
    width: 250px;
    margin: auto;
}
#img_model_3{
    width: 350px;
    margin: auto;
}
.cont_cb{
    width: 50%;
}
.cont_carrusel{
    width: 70%;
    text-align: center;
    background-color: #343a40;
    color: white;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 50px;
}
.carousel{
    margin: auto;
    padding: 50px 100px;
    text-align: center;
}
.carousel-item {
    overflow: hidden;
}
